body {
  /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
  --color1: #aa4465;
  --color2: #edf0da;
  --color3: #a89b8c;
  --color4: #f0dfad;
  --color5: #8f5c38;

  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color2);
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
  border: solid var(--color1) 2px;
}

header img {
  height: var(--header-height);
}

h1 {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.grid-container {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 50px;
  border: solid var(--color1) 10px;
  border-radius: 8px;
}

.grid-box {
  background-color: var(--color3);
  border: solid var(--color1) 2px;
  padding: 10px 40px;
  border-radius: 8px;
}

.box-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.box-2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  position: relative;
  padding: 0 0;
}

#cookie-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: var(--color5);
  text-shadow: 2px 2px var(--color4);
  font-weight: bold;
}

#curtain-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/Curtain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.animate-curtain {
  animation: curtain-rises 3s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes curtain-rises {
  0% {
    transform: scale(1, 1);
    transform-origin: center top;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: center top;
  }
}

.make-same {
  width: 100px;
  height: 30px;
}

#reset-screen {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset-message-box {
  border: solid var(--color1) 10px;
  border-radius: 8px;
  background: var(--color4);
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  box-shadow: var(--shadow);
  border: solid var(--color1) 2px;
}

#reset-screen.hidden {
  display: none;
}

.hidden {
  display: none;
}
